<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under
       the key "bySecond" into the logger context. This value will be
       available to all subsequent configuration elements. -->
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <!-- console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{YYYY-MM-dd/HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--&lt;!&ndash; profile log appender &ndash;&gt;-->
    <!--<appender name="FILE-PROFILE" class="ch.qos.logback.core.FileAppender">-->
        <!--<file>logs/profile-${bySecond}.txt</file>-->
        <!--<encoder>-->
            <!--<pattern>%d{YYYY-MM-dd/HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--&lt;!&ndash; debug log appender &ndash;&gt;-->
    <!--<appender name="FILE-DEBUG" class="ch.qos.logback.core.FileAppender">-->
        <!--<file>logs/log-${bySecond}.txt</file>-->
        <!--<encoder>-->
            <!--<pattern>%d{YYYY-MM-dd/HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--logger name="chapters.configuration.Foo" level="INFO" additivity="true">
        <appender-ref ref="CONSOLE" />
    </logger-->
  
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>

